<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro compras</title>
    <link rel="shortcut icon" href="./../static/img/2123665.png" type="image/x-icon">
    <link rel="stylesheet" href="./../static/styles/styles.css">
</head>
</head>

<body>
    <header class="header">
        <nav class="navegacion">
            <figure>
                <img src="./../static/img/2123665.png" alt="logo" id="logo" class="logo">
            </figure>

            <nav>

                <ul class="listaNav">
                    <li class="listaItem"><a class="linkNav" href="./../index.html">Inicio</a></li>
                    <li class="listaItem"><a class="linkNav" href="#">Ofertas</a></li>
                    <li class="listaItem"><a class="linkNav" href="./registro.html">registrarse</a></li>
                    <li class="listaItem"><a class="linkNav iniciarSesion" href="./inicioSesion.html">Iniciar Sesión</a></li>
                    <li class="listaItem"><a class="linkNav" href="./ubicacion.html">Ubicación</a></li>
                    
                </ul>
            </nav>

    </header>
    <main id="main" class="main">

        <section id="tendencias" class="ofertas">
            <h3 class="tituloSection">OFERTAS</h3>
            <div class="cards-container">
                <article class="card">
                    <a href="./detalle.html">
                        <img src="./../static/img/pañales.webp" alt="Pañales" class="imgTendencia">

                        <h2>Pañales</h2>

                    </a>

                </article>

                <article class="card">
                    <a href="./detalle.html">
                        <img src="./../static/img/lecheInfantil.webp" alt="leche" class="imgTendencia">

                        <h2>Leche Infantil</h2>

                    </a>
                </article>

                <article class="card">
                    <a href="./detalle.html">
                        <img src="./../static/img/fecula.webp" alt="fecula" class="imgTendencia">

                        <h2>Fecula</h2>

                    </a>
                </article>

                <article class="card">
                    <a href="./detalle.html">
                        <img src="./../static/img/shampoo.webp" alt="shampoo" class="imgTendencia">

                        <h2>Cuidado del cabello</h2>

                    </a>
                </article>

                <article class="card">
                    <a href="./detalle.html">
                        <img src="./../static/img/toallitas.webp" alt="Toallitas Húmedas" class="imgTendencia">

                        <h2>Toallitas Húmedas</h2>

                    </a>
                </article>


                <article class="card">
                    <a href="./detalle.html">
                        <img src="./../static/img/cremaHipoglos.webp" alt="Crema Hipoglós" class="imgTendencia">

                        <h2>Cremas</h2>

                    </a>
                </article>

            </div>
        </section>
    </main>
    <footer class="footer">
        <nav class="navegacion">
            <ul class="listaNav">
                <li class="listaItem"><a class="linkNav" href="">Términos y condiciones</a></li>
                <li class="listaItem"><a class="linkNav" href="">Preguntas frecuentes</a></li>
                <li class="listaItem"><a class="linkNav" href="">Ayuda</a></li>
                <li class="listaItem"><a class="linkNav contacto" href="">Contacto</a></li>
            </ul>
        </nav>
        <a href="#main" class="flechaArriba">
            <img src="../static/img/flecha-hacia-arriba.png" alt="ir arriba flecha">
        </a>
    </footer>
</body>

</html>