<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro compras</title>
    <link rel="shortcut icon" href="./../static/img/2123665.png" type="image/x-icon">
    <link rel="stylesheet" href="./../static/styles/styles.css">
</head>
</head>
<body>
    <header  class="header">
        <nav class="navegacion">
        <figure>
            <img src="./../static/img/2123665.png" alt="logo" id="logo" class="logo"
            >
          </figure>
        
        <nav>

            <ul class="listaNav">
                <li class="listaItem"><a class="linkNav" href="./../index.html">Inicio</a></li>
                <li class="listaItem"><a class="linkNav" href="./ofertas.html">Ofertas</a></li>
                <li class="listaItem"><a class="linkNav" href="./registro.html">Registrarse</a></li>
                <li class="listaItem"><a class="linkNav iniciarSesion" href="./inicioSesion.html">Iniciar Sesión</a></li>
                <li class="listaItem"><a class="linkNav" href="#">Ubicación</a></li>
            </ul>
        </nav>

    </header>
    <main>
        <div id="map"></div>
        <script src="../static/js/script.js"></script> 
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>
    </main>
    
    
    
    <footer class="footer">
        <nav class="navegacion">
            <ul class="listaNav">
                <li class="listaItem"><a class="linkNav" href="">Términos y condiciones</a></li>
                <li class="listaItem"><a class="linkNav" href="">Preguntas frecuentes</a></li>
                <li class="listaItem"><a class="linkNav" href="">Ayuda</a></li>
                <li class="listaItem"><a class="linkNav contacto" href="">Contacto</a></li>
            </ul>
        </nav>
        <a href="#main" class="flechaArriba">
            <img src="../static/img/flecha-hacia-arriba.png" alt="ir arriba flecha">
        </a>
    </footer> 
     
</body>
</html>